<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <script th:src="@{jScript/fuck.js}"></script>
 -->
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
	integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
	crossorigin="anonymous" />
	
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>

<link rel="stylesheet" th:href="@{/css/style.css}" />



<title th:text="${title}">Base Html</title>
</head>
<body>
	<!-- navbar -->
	<nav class="fixed-top navbar navbar-expand-lg navbar-dark  bg-primary">
		<a class="navbar-brand" href="#">SmartContactManager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto text-uppercase">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
						<span class="sr-only">(current)</span>
				</a></li>

				<li class="nav-item"><a class="nav-link " href="#"><span
						th:text="${user.name}"></span></a></li>
				<li class="nav-item"><a class="nav-link " th:href="@{/logout}">Logout</a>
				</li>
			</ul>

		</div>
	</nav>

	<!-- End navbar -->

	<!-- side bar -->


	<div onclick="toggle()" class="sidebar mt-5">

		<span class="crossBtn">&times;</span> 
		<a id="home-link" href="#"th:href="@{/user/index}" class="item active"><i class="fas fa-home"></i>Home</a>
			
		<a id="contact-link" href="#" th:href="@{/user/show-contacts/0}" class="item"><i class="fas fa-id-card-alt"></i>ViewContact</a> 
		
		<a id="add-link" href="#" th:href="@{/user/add_contact}" class="item"><i class="fas fa-file-signature"></i> Add Contact</a>
		 
		<a id="profile-link" href="#" th:href="@{/user/profile}" class="item"><i class="fas fa-users"></i> Your profile</a> 
		
		<a id="setting-link" href="#" th:href="@{/user/settings}" class="item"><i class="fas fa-users-cog"></i> Settings</a>
		
	    <a href="#" th:href="@{/logout}" class="item"><i class="fas fa-sign-out-alt"></i> Logout</a>

		<div class="divider"></div>

	</div>

	<!-- End side bar -->

	<!-- content area -->

	<div class="content mt-5">

		<i onclick="toggle()" class="fas fa-bars m-3"></i>
	
		<!-- Message Box -->
		
		<div th:if="${session.message}" class="container">
			<div th:classappend="${'alert-'+session.message.type}" class="alert  text-center" role="alert">
			
				<span th:text="${session.message.content}"></span>
		
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
		<div th:replace="${content}"></div>

	</div>

	<!-- End of content area -->

	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: Bootstrap Bundle with Popper -->

	

	
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
		
	
<!-- 		<script type="text/javascript" th:src="@{/js/src/offer.js}" />

 -->		
	<script src="" th:src="@{js/script.js}"></script>
			
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		
		<script>
		
			function deleteContact(cid)
			{
				swal({
					  title: "Are you sure?",
					  text: "Are sure want to delete this contact...!!",
					  icon: "warning",
					  buttons: true,
					  dangerMode: true,
					})
					.then((willDelete) => {
					  if (willDelete) {
					    
						  window.location="/user/delete/"+cid;
						  
					  } else {
					    swal("Your Contact is safe!");
					  }
					});
			}
		
		</script>
		
	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>
</html>