<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title> Change Password Form</title>
</head>
<body>
	<section>
		  <div id="logins">
        <div class="container">
            <div id="login-row1" class="row justify-content-center align-items-center">
                <div id="login-column1" class="col-md-6">
                    <div id="login-box1" style="height:210px;" class="col-md-12">
                    
						     <h1 class="mt-3 text-center" style="color:blue;">Enter New Password</h1>
						                 	
                    	<form action="" th:action="@{/change-password}" method="post">
                    	
                    	
                    		<div class="form-group">
                    		
                    			
                    			<input name="newpassword" required="required" type="password" placeholder="Enter your newpassword number" class="form-control"> 
                    		
                    		
                    		</div>
                    		
                    		<div class="container  text-center">
                    		
                    			<button class="btn btn-primary">Change Password</button>
                    		
                    		</div>
                    	
                    	</form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>